@import './styles/reset.scss';

html{
  box-sizing: border-box;
  height:100%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.page{

  font: 12px "Roboto Condensed", sans-serif;
  color: #000;
  background: #fff;
  display: flex;

  &__wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__body {
    flex: 1 0 auto;
    padding: 50px 0px;
    background-color: #bfc3ce;
  }

  &__header, &__footer {
    flex-shrink: 0;
    color: #fff;
    font-size: 16px;
  } 
}

/*@media (max-width: 860px) {
  .todo-component__wrapper {
    padding: 0px 10px;
  }
}*/
